<%- include('../header.ejs' ,{title:title}); %>
<div class="container-sm align-content-center" style="height: 90vh">
  <h1 class="text-center">log in</h1>
  <div class="row justify-content-between">
    <a class="btn-link col-4" href="/signIn">
      <button class="border-0 w-100 p-2 bg-danger rounded">Sign in</button>
    </a>
    <a href="/signUp" class="btn-link col-4">
      <button class="w-100 border-0 p-2 bg-primary rounded">Sign up</button>
    </a>
  </div>
</div>
<%- include('../footer.ejs' ); %>
