<%- include('../header.ejs' ,{title:"Sign in page"}); %>
<h1 class="text-center">Sign Up</h1>
<div class="container-sm">
  <label for="name">name</label>
  <input name="name" id="name" class="border rounded" type="text" />

  <label for="pass" class="form-label">pass</label>
  <input name="pass" id="pass" class="border rounded" type="password" />
  <button class="btn btn-primary" id="myCheckbox">Sign Up</button>
</div>
<script>
  document
    .getElementById("myCheckbox")
    .addEventListener("click", async function (event) {
      event.preventDefault();
      let name = document.getElementById("name");
      let pass = document.getElementById("pass");
      const data = {
        name: name.value,
        pass: pass.value,
      };
      if (data.name && data.pass)
        fetch("/signUp", {
          method: "POST",
          body: JSON.stringify(data),
          headers: {
            "Content-type": "application/json; charset=UTF-8",
          },
        }).then(() => {
          name.value = "";
          pass.value = "";
          window.location.href = "/signIn";
        });
      console.log(data);
    });
</script>
<%- include('../footer.ejs' ); %>
